<html>
    <head>
        <link rel="stylesheet" href="assets/style.css">
    </head>
    <body>
        <h1>welcome to the most awesome website on the net</h1>
        <p>You won't find a website better anywhere else!</p>
    </body>
</html>